CMS_IMAGE=swr.<region>.myhuaweicloud.com/<org>/isbim-cms:<tag>

NODE_ENV=production
HOST=0.0.0.0
PORT=1337

APP_KEYS=replace1,replace2,replace3,replace4
API_TOKEN_SALT=replace-api-token-salt
ADMIN_JWT_SECRET=replace-admin-jwt-secret
TRANSFER_TOKEN_SALT=replace-transfer-token-salt
ENCRYPTION_KEY=replace-encryption-key
JWT_SECRET=replace-jwt-secret

DATABASE_CLIENT=mysql
DATABASE_HOST=<rds-private-host>
DATABASE_PORT=3306
DATABASE_NAME=isbim_cms
DATABASE_USERNAME=isbim
DATABASE_PASSWORD=<replace-password>
DATABASE_SSL=true
DATABASE_SSL_REJECT_UNAUTHORIZED=true
DATABASE_POOL_MIN=2
DATABASE_POOL_MAX=10
